<!DOCTYPE html>
<html>
  <head>
    <title>Dog Adjudication Portal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
   <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
   <script src='https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.js'></script>
   <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
   <link rel="stylesheet" type="text/css" href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.css'></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
